  <tr>
    <td class="span6"><%= link_to project.name, edit_project_path(project) %></td>
    <td>
      <%= render(partial: 'status_buttons_'+project_status.to_s, locals: { project: project } ) %>
    </td>
    <td><small><%= project.created_at.localtime.strftime("%b %d, %y")  %></small></td>
    <td><%= link_to 'Destroy', 'projects/'+project.key, method: :delete, :class => 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
  </tr>