<h2>Life Goals</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Goal</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= link_to goal.name, edit_goal_path(goal) %></td>
        <td><%= link_to 'Edit', edit_goal_path(goal), :class => 'btn btn-mini' %>
            <%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Goal', new_goal_path, :class => 'btn' %>
