<h2>Life Goals</h2>

<%= link_to 'New Goal', new_goal_path, :class => 'btn' %>

<%= render partial: 'goals/category_list', locals: {goals: @active_goals, category_name: 'Active Goals' } %>

<%= render partial: 'goals/category_list', locals: {goals: @inactive_goals, category_name: 'Inactive Goals' } %>

<%= render partial: 'goals/category_list', locals: {goals: @accomplished_goals, category_name: 'Accomplished Goals' } %>
