<div class="control-group">
<div class="controls">
  <label class="radio">
    <%= form.radio_button :area, 'soul' %>
    Soul
  </label>
  <label class="radio">
    <%= form.radio_button :area, 'work' %>
    Work
  </label>
  <label class="radio">
    <%= form.radio_button :area, 'admin' %>
    Admin
  </label>
  <label class="radio">
    <%= form.radio_button :area, 'assistant' %>
    Assistant
  </label>
</div>
</div>