<%= render partial: 'new', locals: { mywn_category: mywn_category, item_count: items.count, tab_index: tab_index } %>
<table class="table table-striped table-hover">
  <tbody>
<% items.each do |action_item| %>
	<%= render(partial: 'action_item', object: action_item) %>
<% end %>
  </tbody>
</table>
<br />