<%= form_for(@new_item) do |f| %>
  <p>
    <%= f.text_field :name, :class=> "action_item" %>
    <%= f.hidden_field :mywn_category, value: mywn_category %>
    <%= f.submit 'Add', :class=> "action_item btn" %>
  </p>
<% end %>